@let playgroundObj = playground();
@let graphObj = graph();
@if (playgroundObj !== null && graphObj !== null) {
    <div class="flex flex-col gap-1">
        @for (_ of height() |range; track $index; let $y = $index) {
            <div class="flex flex-row gap-1">
            @for (_ of width() |range; track $index; let $x = $index) {
                @let index = $y + '-' +$x;
                @let nodeInformation = getNodeInformation(index);

                <!-- @let isFlagged = isFlagged(index);
                @let isUncovered = isUncovered(index); -->
                @if(nodeInformation !== null) {
                    @let value = nodeInformation.value;
                    @let isFlagged = nodeInformation.isFlagged;
                    @let isRevealed = nodeInformation.isRevealed;


                    <div 
                        class="h-9 w-9 flex items-center justify-center text-3xl cursor-pointer rounded-lg" 
                        (click)="fieldInteraction(index)"
                        [ngClass]="getStatusColor(index)"
                    >
                        @if(isFlagged &&  !isRevealed) {
                            F
                        } @else if(isRevealed) {
                            @if (nodeInformation.value > 0) {
                                {{value }}
                            }
                        }
                    </div>
                }
            }
            </div>
        }
    </div>
}