<div class="flex flex-col background p-4 rounded-3xl background w-[350px] max-sm:w-screen max-sm:h-screen max-sm max-sm:justify-center max-sm:rounded-none">
    <div class="flex justify-center">
        <h2 class="text-3xl p-2 rounded glow w-fit text-slate-200">You won!</h2>
    </div>
    <h3 class="text-2xl text-gray-200 mt-8">Stats:</h3>
    <div class="flex text-gray-200 gap-8 text-base mt-3">
        <div>Time:</div>
        <div class="blueTextGradient font-extrabold">{{timeMS() | appTime}}</div>
    </div>
    <div class="flex text-gray-200 gap-8 text-base">
        <div>Seed:</div>
        <div class="">{{seed()}}</div>
    </div>
    <div class="flex text-gray-200 gap-8 mt-12">
        <button class="flex flex-row items-center gap-2 button px-4 py-2" (click)="newGame()">
            New Game
            <img src="assets/flag.png" class="w-4 h-4" />
        </button>
        <button class="ml-auto px-4 py-2 rounded bg-blue-400 text-slate-200 disabled:opacity-80" disabled>Share</button>
    </div>
</div>